@font-face {
    font-family: 'Icons';
    src: url("../fonts/icon-font.woff2") format("woff2");
}

@font-face {
    font-family: 'IconsFull';
    src: url("../fonts/icon-font.woff2") format("woff2");
}
