@font-face {
    font-family: 'Font Name';
    src: url("/fonts/icon-font.eot");
    src: url("/fonts/icon-font.woff2") format("woff2"),
         url("/fonts/icon-font.woff") format("woff"),
         url("/fonts/icon-font.ttf") format("truetype");
}
