@import "material-design-icons-iconfont/dist/material-design-icons-no-codepoints.css";

body {
  font-family: system-ui, sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.material-icons {
  font-size: 48px;
}
