@font-face {
    font-family: 'Icons A';
    src: url("../fonts/icon-font.woff2") format("woff2");
}

@font-face {
    font-family: 'Icons B';
    src: url("../fonts/icon-font.woff2") format("woff2");
}
